# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Virtual envs
.venv/
venv/
env/

# Build
build/
dist/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project
runs/
*.env
.env
.env.*
!.env.example

# Secrets
*.pem
*.key
/notebooks
.langgraph_api/
